NODE_ENV=development
HOST=0.0.0.0
PORT=4000
FRONTEND_ORIGIN=http://localhost:3000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/aiseekhegaindia
DATABASE_SSL=false
GCP_CLIENT_ID=
GCP_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:4000/auth/google/callback
SESSION_SECRET=
